/* You can add global styles to this file, and also import other style files */

body {
}

div.main {
    position: absolute;
    top: 56px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 15px;
}

/** Placeholder for the code editor. A huge div taking all the screen */
#code-editor {
    background-color: black;
    opacity: 0.8;
    color: white;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;

    z-index: 10000;
}

.page {
    height: 100%;
    overflow: auto;

    display: none; // Hidden by default
}